body {
    background: #d7f8dd;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todo-app {
    width: 43rem;
    background-color: white;
    border-radius: 25px;
}

.todo-app__header {
    background-color: #064866;
    color: white;
    padding: 30px;
    text-align: center;
    position: relative;
    border-radius: 25px 25px 0 0;
}

.todo-app__header h1 {
    font-size: 2.2rem;
    margin-bottom: 5px;
}

.todo-app__header p {
    opacity: 0.8;
    font-size: 1rem;
}

.todo-app__info {
    padding: 15px;
    text-align: center;
}

.todo-app__button {
    text-align: center;
}

.todo-app__button--categories {
    background-color: #1556cfda;
    color: white;
    border: none;
    width: 90%;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    
}