table {
    margin-top: 20px;
    text-align: center;
}

.tags__title {
    text-align: center;
}

.tag-detail__circle {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-left: 5px;
    vertical-align: middle;
}

.btn {
    text-decoration: none !important;
    color: #000000 !important;
}

@media screen and (max-width: 768px) {
    h1{
        text-align: center;
        font-size: 1.8rem;
    }
    .tags__actions {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .tags__actions .btn {
        width: 100%;
    }
}
